
<!DOCTYPE html>

<html lang="en">
<head>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

	<body>
		{% block title %} <title> Groton Debate </title>{% endblock %}
		<div class = 'top-header'>
			<table class = 'header'>
				<tr>
					<td class = 'header'><h1>Groton Debate</h1></td>
				</tr>
			</table>
		</div>
		<div class = "sidebar">
			<ul>
				<li><a href = "{% url 'leaderboard' %}">Leaderboard</a></li>
				<li><a href = "{% url 'students' %}">All Students</a></li>
				<li><a href = "{% url 'tournaments' %}">Tournaments</a></li>
			</ul>
			{% block sidebar %}
			{% endblock %}
		</div>
		<div class = "body">
			{% block content %}
			{% endblock %}
			<p></p> <!-- To get rid of the bottom cutoff-->
		</div>
	</body>